<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="./../css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDJ3Vw5gKB89VuUhZdJr2EgqxUg5sOgAiY"></script>
    <style>
       #map {
        height: 700px;
        width: 90%;
       }
    </style>
  </head>
  <body>
    <h3>My Google Maps Demo</h3>
    <div class="centered-col" id="map"></div>


    </script>
    <script src="/jsonTest.js"></script>
  </body>
</html>
