html,body{
	margin: 0px;
	padding: 0px;
	height: 100%;
}


#locationInfo{
	position: fixed;
	width:100%;
	bottom:0px;
	background-color: #3abde8;
	display: none;
	text-align:center;
	opacity:0.9;
	/*background-image: url("../images/ucsd.jpeg");
	background-repeat: no-repeat;
	background-size :100%;*/

}
#locationName{
	padding-top:20px;
	font-size:4em;
}

.locOpen{
	height:100vh;
	animation-name:slideUp;
	animation-duration:1s;
}
.locClose{
	height:20vh;
}

#closeLoc{
	font-size:20px;
	color:white;
	position:absolute;
	top:10px;
	right:10px;
	cursor:pointer;
}
#openLoc{
	font-size:50px;
	color:white;
	left:49vw;
	position:absolute;
	cursor:pointer;
}	
@keyframes slideUp{
	0% {height:20vh;}
	100%{height:100vh;}

}