<html>
<head>
<link href="./../css/bootstrap.min.css" rel="stylesheet">
<link href="./../css/cover.css" rel="stylesheet">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</head>
<body>

  <div class="site-wrapper">

    <div class="site-wrapper-inner">

      <div class="cover-container">

        <div class="masthead clearfix">
          <div class="inner">
            <h3 class="masthead-brand">About</h3>
            <nav>
              <ul class="nav masthead-nav">
                <li><a href="/">Home</a></li>
                <li class="active"><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
              </ul>
            </nav>
          </div>
        </div>

        <div class="inner cover">
          <p> Put more details or paragraphs here if you want to i guess
          </p>
        </div>
      </div>

    </div>
  </div>

</body>
</html>
